{% extends 'partials/base.html' %}

{% block main-heading %}
    Cấu hình
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block main %}
    {% if add_button == True %}
        <a id="add-config" class="add-config" href="{% url 'create_config' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-plus"
                 viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <span>Tạo Mới</span>
        </a>
    {% endif %}

    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">Địa chỉ chấm công bằng GPS</th>
            <th scope="col">Tên wifi</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr class="config">
                <td>{{ config.location_add }}</td>
                <td>{{ config.wifi }}</td>
                <td>
                    <a href="{% url 'update_config' config.id %}" class="btn edit" name="edit" id="btn-edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <a href="{% url 'delete_config' config.id %}" class="btn delete" name="delete" id="btn-delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                             class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="" method="POST" class="form-add-config" id="form-add-config">
        {% csrf_token %}
        <p class="mb-5"><strong>Bạn có chắc chắn muốn xóa cấu hình?</strong></p>
        <div class="buttons">
            <a href="{% url 'config' %}" class="cancel">Hủy Bỏ</a>
            <button type="submit" class="btn submit" name="add">Xác Nhận</button>
        </div>
    </form>
{% endblock %}