{% extends 'partials/base.html' %}

{% block main-heading %}
    Thông tin nhân viên
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block main %}
    <table class="table table-hover mt-5">
        <thead>
        <tr>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.tel }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}