{% extends 'partials/base.html' %}

{% block main-heading %}
    Thống kê
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block main %}
    <form action="" method="POST" class="form-statistic">
        {% csrf_token %}

        <div class="input-group">
            <label class="input-group-text" for="inputGroupSelect01">Tháng</label>
            <select class="form-select" id="inputGroupSelect01" name="month" onchange="javascript:this.form.submit();">
                {% if month == 1 %}
                    <option value="1" selected>1</option>
                {% else %}
                    <option value="1">1</option>
                {% endif %}
                {% if month == 2 %}
                    <option value="2" selected>2</option>
                {% else %}
                    <option value="2">2</option>
                {% endif %}
                {% if month == 3 %}
                    <option value="3" selected>3</option>
                {% else %}
                    <option value="3">3</option>
                {% endif %}
                {% if month == 4 %}
                    <option value="4" selected>4</option>
                {% else %}
                    <option value="4">4</option>
                {% endif %}
                {% if month == 5 %}
                    <option value="5" selected>5</option>
                {% else %}
                    <option value="5">5</option>
                {% endif %}
                {% if month == 6 %}
                    <option value="6" selected>6</option>
                {% else %}
                    <option value="6">6</option>
                {% endif %}
                {% if month == 7 %}
                    <option value="7" selected>7</option>
                {% else %}
                    <option value="7">7</option>
                {% endif %}
                {% if month == 8 %}
                    <option value="8" selected>8</option>
                {% else %}
                    <option value="8">8</option>
                {% endif %}
                {% if month == 9 %}
                    <option value="9" selected>9</option>
                {% else %}
                    <option value="9">9</option>
                {% endif %}
                {% if month == 10 %}
                    <option value="10" selected>10</option>
                {% else %}
                    <option value="10">10</option>
                {% endif %}
                {% if month == 11 %}
                    <option value="11" selected>11</option>
                {% else %}
                    <option value="11">11</option>
                {% endif %}
                {% if month == 12 %}
                    <option value="12" selected>12</option>
                {% else %}
                    <option value="12">12</option>
                {% endif %}
            </select>
        </div>
    </form>

    <table class="table table-hover mt-5">
        <thead>
        <tr>
            <th scope="col">Tháng</th>
            <th scope="col">Tổng số ngày làm việc</th>
            <th scope="col">Tổng số ngày nghỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tháng {{ month }}</td>
            <td>{{ count_worktime }} ngày</td>
            <td>{{ count_absent }} ngày</td>
        </tr>
        </tbody>
    </table>
{% endblock %}