.main table {
    margin: auto;
    width: 95%;
    font-size: 1.6rem;
    box-shadow: 0px 0px 1px rgba(39, 103, 73, 0.5), 0px 3px 8px rgba(39, 103, 73, 0.3) !important;
}

.main .form-searching{
    position: relative;
    margin-left: 2.5%;
}

.main .form-searching input{
    width: 320px;
    height: 40px;
    padding-left: 8px;
    font-size: 1.6rem;
    border-radius: 4px;
    border: 1px solid #333;
}

.main .form-searching input:focus, .main .form-searching input:hover{
    border: 1px solid #4da16a;
}

.main .form-searching input:focus{
    outline: none;
}

.main .form-searching button{
    position: absolute;
    margin-left: 8px;
    background: #4da16a;
    height: 100%;
    border-radius: 4px;
}

.main .form-searching button:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease;
}