{% extends 'partials/base.html' %}

{% block main-heading %}
    Quản lý nhân viên
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block main %}
    <form action="" method="POST" class="form-searching">
        {% csrf_token %}
        <div>
            <input type="text" name="search" placeholder="Nhập tên cần tìm...">
            <button type="submit" class="btn button-search" name="btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </form>

    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Vai trò</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.tel }}</td>

                {% if user.is_superuser %}
                    <td>Admin</td>
                {% else %}
                    <td>Staff</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}