{# Sidebar #}
<div class="side">

    {# Company name #}
    <div class="company mb-4 p-4">
        <a href="{% url 'home' %}">
            <h1 class="text-white text-center">IT Global</h1>
        </a>
    </div>

    {# Navbar #}
    <div class="nav d-block">
        {#            <div class="nav-item">#}
        {#                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"#}
        {#                                     class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">#}
        {#                                    <path fill-rule="evenodd"#}
        {#                                          d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>#}
        {#                                    <path fill-rule="evenodd"#}
        {#                                          d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>#}
        {#                                </svg>#}
        {#                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"#}
        {#                     class="bi bi-person-down" viewBox="0 0 16 16">#}
        {#                    <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>#}
        {#                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>#}
        {#                </svg>#}
        {#                <a href="/check-in">Chấm công vào</a>#}
        {#            </div>#}
        {##}
        {#            <div class="nav-item">#}
        {#                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"#}
        {#                                     class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">#}
        {#                                    <path fill-rule="evenodd"#}
        {#                                          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>#}
        {#                                    <path fill-rule="evenodd"#}
        {#                                          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>#}
        {#                                </svg>#}
        {#                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"#}
        {#                     class="bi bi-person-up" viewBox="0 0 16 16">#}
        {#                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>#}
        {#                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>#}
        {#                </svg>#}
        {#                <a href="/check-out">Chấm công ra</a>#}
        {#            </div>#}
        {##}
        {#            <div class="nav-item">#}
        {#                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"#}
        {#                     class="bi bi-calendar" viewBox="0 0 16 16">#}
        {#                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>#}
        {#                </svg>#}
        {#                <a href="/timesheets">Bảng chấm công</a>#}
        {#            </div>#}
        {% if user.is_authenticated %}
            {% if not user.is_staff and not user.superuser %}
                <a class="nav-item" href="{% url 'user' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-person"
                         viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                    </svg>
                    <p>Thông tin</p>
                </a>

                <a class="nav-item logout mb-4" href="{% url 'sign-out' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff"
                         class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                    <p>Đăng xuất</p>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>